<section>
  <div class="wrapper">
    <input type="checkbox" [(ngModel)]="separateDialCode" />
    <label>&nbsp;Separate Dial Code?</label>
  </div>

  <form #f="ngForm" [formGroup]="phoneForm">
    <div class="wrapper">
      <ngx-intl-tel-input
        [cssClass]="'custom'"
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[ SearchCountryField.Iso2, SearchCountryField.Name ]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.India"
        [phoneValidation]="true"
        [separateDialCode]="separateDialCode"
        [numberFormat]="PhoneNumberFormat.National"
        name="phone"
        formControlName="phone" >
      </ngx-intl-tel-input>
      <div style="margin-top: 20px; margin-bottom: 10px">
        <small class="alert alert-danger" *ngIf="!phoneForm.controls['phone'].valid && phoneForm.controls['phone'].touched">
          <span *ngIf="phoneForm.controls['phone'].errors?.['required']">
            Phone number is required.
          </span>
          <span *ngIf="phoneForm.controls['phone'].errors">
            Phone number need to have 10 character
          </span>
        </small>
      </div>
    </div>
    <div class="wrapper">
      <button class="btn btn-success" (click)="f.reset()">Reset</button>
    </div>
  </form>
  <div>
    <strong>Form value:</strong>
    <pre>{{ f.form.value | json }}</pre>
  </div>
  <div>
    <strong>Form validation errors:</strong>
    <pre>{{ f.form.controls["phone"].errors | json }}</pre>
  </div>
</section>
<!-- <router-outlet></router-outlet> -->
